<!DOCTYPE html>
<html ng-app="Napstr">
<head>
  <meta charset="UTF-8">
  <title>napstr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"></link>
  <link rel="stylesheet" href="/css/main.css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/users_controller.js"></script>
</head>
<body>

 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target-"#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"> Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">napstr</a>
      </div> <!-- /.navbar-header -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        
        <% if (userId) { %>
            <li><a href="/search">Search</a></li>
            <li><a href="/profiles/<%=userId%>">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        
        <% } else  {%>
          </ul>
          <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="username">
              <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-default"> Login</button>
          </form>
        <% } %>
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>

  <h2> Welcome to napstr, <%= username %> </h2>
  <div>
    <img id="profile-pic" src="<%=user.profilePic%>">
  </div>
  
  <div>
    <h3> <%=user.username %> <%userId%></h3>
    <p> <strong>Name: </strong><%=user.name %></p>
    <p> <strong>Email: </strong><%=user.email %></p>
    <p> <strong>About: </strong><em><%=user.aboutMe %></em></p>
    <p> <strong>Napping Preferences: </strong><%=user.napPreferences %></p>
    <p> <strong>Nap Environment Preferences: </strong><%=user.envPreferences %></p>
    <p> <strong>Rating: </strong><%=user.rating %></p>
    
    <p> <strong>Reviews: </strong> </p>
    <% if (user.reviews) { %>
      <% user.reviews.forEach(function(review){ %>
        <p><%=review.name%>: <%=review.content%></p>
        <% }) %>
    <% } %>

    <p> <strong> Requests:</strong> </p>
    <% if (user.requests) { %>
      <% user.requests.forEach(function(request){ %>
        <p><%=request.name%></p>
        <% }) %>
    <% } %>

    <% if (user._id == userId) { %> 
      <a id="edit-btn" href="#">Edit</a>
      <br>
      <form action="/profiles/<%=user._id%>?_method=delete" method="post">
        <input type="submit" value="Delete Profile">
      </form>
    <% } %>
  </div>

  <div id="edit-modal-container">
    <div id="edit-modal">
      <button id="close-edit" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3> Edit your Profile: </h3>
      <form action="/profiles/<%=user._id%>?_method=patch" method="post">
      <label for="name"> Name: </label>
      <input type="text" name="name" value="<%=user.name%>">
      <br>
      <label for="username"> Username: </label>
      <input type="text" name="username" value="<%=user.username%>">
      <br>
      <label for="email"> Email: </label>
      <input type="text" name="email" value="<%=user.email%>">
      <br>
      <label for="profilePic"> Profile Picture URL: </label>
      <input type="text" name="profilePic" value="<%=user.profilePic%>">
      <br>
      <label for="name"> About: </label>
      <br>
      <textarea name="aboutMe" rows="2" cols="50"> <%=user.aboutMe %> </textarea>
      <br>
      <label for="napPreferences"> Napping Preferences (you prefer being): </label>
      <br>
      <input type="checkbox" name="napPref" value="BigSpoon"> Big Spoon 
      <input type="checkbox" name="napPref" value="LittleSpoon"> Little Spoon 
      <input type="checkbox" name="napPref" value="Side By Side"> Side by Side
      <input type="checkbox" name="napPref" value="Sea Ottering"> Sea Ottering
      <br>
      <label for="envPreferences"> Your napping environmental prefereneces: </label>
      <br>
      <input type="checkbox" name="evnPref" value="Darkness"> Darkness
      <input type="checkbox" name="evnPref" value="NightLight"> Night Light
      <input type="checkbox" name="evnPref" value="Silence"> Silence
      <input type="checkbox" name="evnPref" value="TV/Music On"> TV/Music On
      <br>
      <input type="checkbox" name="evnPref" value="Ambient Noise"> Ambient Noise
      <input type="checkbox" name="evnPref" value="Top Bunk"> Top Bunk
      <input type="checkbox" name="evnPref" value="Bottom Bunk"> Bottom Bunk
      <br>
      <input type="submit" value="Update Profile">
      </form>

    </div>
  </div>


</body>
</html>











