<!DOCTYPE html>
<html ng-app="Napstr">
<head>
  <meta charset="UTF-8">
  <title>napstr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/users_controller.js"></script>
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li> <a href="/"> napstr </a> </li>
      <li> | </li>
      <li> <a href="/about"> About </a> </li>
      <li> | </li>
      <% if (!username) { %>
        <li> <a href="/"> Login </a> </li>
        <li> | </li>
        <li> <a href="/"> Sign Up</a> </li>
      <% } else { %>
        <li> <a href="/search"> Search </a> </li>
        <li> | </li>
        <li> <a href="/logout"> Logout </a> </li>
      <% } %>
    </ul>
  </div> <!-- nav bar -->

  <h2> Welcome to napstr, <%= username %> </h2>
  <div>
    <img id="profile-pic" src="<%=user.profilePic%>">
    <h3> <%=user.username %></h3>
    <p> <strong>Name: </strong><%=user.name %></p>
    <p> <strong>Email: </strong><%=user.email %></p>
    <p> <strong>About: </strong><em><%=user.aboutMe %></em></p>
    <p> <strong>Napping Preferences: </strong><%=user.napPreferences %></p>
    <p> <strong>Nap Environment Preferences: </strong><%=user.evnPreferences %></p>
    <p> <strong>Rating: </strong><%=user.rating %></p>
    <p><strong>Reviews: </strong> </p>
    <% user.reviews.forEach(function(review){ %>
      <p><%=review.name%>: <%=review.content%></p>
      <% }) %>
    <p> <strong> Requests:</strong> </p>
    <% user.requests.forEach(function(request){ %>
      <p><%=request.name%></p>
      <% }) %>
  </div>


</body>
</html>











